.sidebar-logo img {
  display: inline-block;
  //height: 32px;
  //width: 32px;
  vertical-align: middle;
  horiz-align: center;
}

.image-fold {
  height: 32px;
  width: 32px;
}

.image-unfold {
  height: 80%;
  align-self: center;
}

.sidebar-logo {
  text-align: center;
  position: relative;
  height: 100px;
  padding: 10px 0;
  //padding-left: 24px;
  overflow: hidden;
  line-height: 64px;
  transition: all .3s;
  background: transparent;
}

.sidebar-logo h1 {
  display: inline-block;
  margin: 0 0 0 20px;
  color: #fff;
  font-weight: 600;
  font-size: 14px;
  font-family: Avenir, Helvetica Neue, Arial, Helvetica, sans-serif;
  vertical-align: middle;
}
