<!--<ul-->
<!--  nz-menu-->
<!--  nzTheme="dark"-->
<!--  nzMode="inline"-->
<!--  [nzInlineCollapsed]="isCollapsed"-->
<!--&gt;-->
<li nz-submenu nzOpen [nzTitle]="this.title" [nzIcon]="this.icon">
  <ul>
    <li nz-menu-item nzMatchRouter>
      <a routerLink=""><i nz-icon nzTheme="fill"></i> Villa 1
      </a>
    </li>
    <!--      <li nz-menu-item nzMatchRouter>-->
    <!--        <a>Villa 2</a>-->
    <!--      </li>-->
    <!--      <li nz-menu-item nzMatchRouter>-->
    <!--        <a>Villa 3</a>-->
    <!--      </li>-->
  </ul>
</li>
<!--</ul>-->
