<div
  style="width: 100%; margin-bottom: 10px; text-align: center; height: 50px;"
>
  <button
    *ngIf="!isActive"
    style="font-size: 26px; font-weight: bold; text-align: center; height: 100%;"
    [ngStyle]="{ color: settings.isDark ? '#fff' : '#000' }"
    nz-button
    (mouseover)="isHover = true"
    (mouseleave)="isHover = false"
    [nzType]="isHover ? 'default' : 'link'"
    nzShape="round"
    [nzLoading]="isSendingRequest"
    (click)="buttonIsClicked()"
  >
    <i nz-icon [nzType]="navigationService.icon"></i>
    {{ navigationService.title }}
  </button>
  <nz-input-group *ngIf="isActive" style="text-align: center; height: 100%;">
    <input
      #textbox
      style="font-size: 26px; font-weight: bold; text-align: center; height: 100%; border-radius: 4px;"
      (focusout)="isActive = false; confirmEditAction()"
      (keyup.enter)="isActive = false; confirmEditAction()"
      nz-input
      [(ngModel)]="newTitleInput"
      placeholder="New group title goes here ..."
    />
  </nz-input-group>
</div>
