<nz-collapse [nzBordered]="false">
  <nz-collapse-panel *ngFor="let module of modules" [nzHeader]="module.name">
    <nz-row [nzType]='"flex"' [nzJustify]='"center"'>
      <!-- DISPLAY CHART -->
      <nz-col [nzSpan]="6">
        <app-charts></app-charts>
      </nz-col>

      <nz-col [nzSpan]="5">
        <!-- DISPLAY TEMPERATURE -->
        <nz-row style="margin-bottom:150px; margin-top:70px">
          <app-info-display [title]='"Temperature"' [data]="module.temperature + '\u00B0C'"></app-info-display>
        </nz-row>
        <!-- DISPLAY HUMIDITY -->
        <nz-row>
          <app-info-display [title]='"Humidity"' [data]="module.humidity + '\u00B0F'"></app-info-display>
        </nz-row>
      </nz-col>
      <!--  DISPLAY STATUS AND BUTTON  -->
      <nz-col [nzSpan]="5">
        <nz-card nzBordered style="text-align: center; width: 300px;">
          <!-- DISPLAY STATUS -->
          <h2 nz-title style="height: 100px;"><i nz-icon
                                                 [nzType]="module.statusToIcon"></i>  {{ module.statusToString }}
          </h2>
          <!-- DISPLAY BUTTON -->
          <button *ngIf="module.isLight" nz-button (click)="module.switchLight()" nzType="primary"
                  style="height: 80px;">
            <app-info-button [isLightON]="module.isLight"></app-info-button>
          </button>
          <button *ngIf="!module.isLight" nz-button (click)="module.switchLight()" nzType="dashed"
                  style="height: 80px;">
            <app-info-button [isLightON]="module.isLight"></app-info-button>
          </button>
        </nz-card>
      </nz-col>
      <nz-col nzSpan="1" style="text-align: right; width: 30%;">
        <app-extent-module-control [MAC]="module.MAC" [order]="order" [groupID]="groupID"
                                   [name]="module.name"></app-extent-module-control>
      </nz-col>
    </nz-row>
  </nz-collapse-panel>
</nz-collapse>
