<nz-layout class="app-layout" [class.layout-dark]="settings.isDark">
  <!-- App sidebar -->
  <nz-sider class="menu-sidebar" [nzTheme]="settings.theme" nzCollapsible nzWidth="200px" nzBreakpoint="md"
            [(nzCollapsed)]="settings.isCollapsed" [nzTrigger]="null">

    <app-sidenav-header [isCollapsed]="settings.isCollapsed" style="width: 100%"></app-sidenav-header>

    <app-create-group-button *ngIf="!settings.isCollapsed" style="width: 100%;"></app-create-group-button>

    <app-sidenav-submenu [isCollapsed]="settings.isCollapsed" [theme]="settings.theme"></app-sidenav-submenu>
  </nz-sider>
  <nz-layout [class.layout-dark]="settings.isDark" style="height:fit-content">
    <nz-content style=" width: 80%; margin-left: 16%">
      <div [className]="settings.isDark ? 'inner-content-dark' : 'inner-content-light'">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>
