#body {
    background: rgb(222, 222, 222);
    height: 100%;
    padding-top: 10%;
}

#login-card {
    // vertical-align: auto;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    height: 65%;
    text-align: center;
    border-radius: 10px;
}

#app-logo {
    width: 40%;
    height: 40%;
    padding: 0;
}


// #logo-border { 
//     color: rgb(222, 222, 222);
// }