<div
  nz-row
  nzType="flex"
  nzJustify="space-around"
  nzAlign="top"
  style="margin-bottom: 20px;"
>
  <app-menu-btn
    nz-col
    nzSpan="1"
    style="text-align: left; width: 30%;"
  ></app-menu-btn>
  <app-home-view-info
    nz-col
    nzSpan="9"
    style="text-align: center;"
    [title]="navigation.title"
    [email]="database.email"
    [isVisible]="isVisible"
    (isConnectButtonClicked)="isVisible = true; privateInputString = ''"
    (onSearchEnter)="onSearchEnter($event)"
  ></app-home-view-info>
  <app-group-more-options
    nz-col
    nzSpan="1"
    style="text-align: right; width: 30%;"
  ></app-group-more-options>
</div>

<nz-modal
  [(nzVisible)]="isVisible"
  nzTitle="Connect Module"
  [nzFooter]="modalFooter"
  (nzOnCancel)="handleCancel()"
>
  <div style="text-align: center" *ngIf="isSuccess">
    <img src="../../../assets/checkanimation.gif" style="height: 150px;" />
  </div>
  <div *ngIf="!isSuccess">
    <h4>Enter MAC address (Only accept keys among [0-9] and [A-F])</h4>
    <input
      (keydown.backspace)="backSpacePressed()"
      nz-input
      placeholder="Type here ..."
      [(ngModel)]="inputString"
      style="margin-bottom: 10px; font-weight: bold; font-size: 24px; text-align: center; height: 60px; line-height: 34px;"
    />
    <nz-alert
      [nzMessage]="errorMessage"
      nzCloseable
      (nzOnClose)="errorMessage = ''"
      nzType="error"
      *ngIf="errorMessage.length > 0"
    ></nz-alert>
  </div>
</nz-modal>

<ng-template #modalFooter>
  <button nz-button nzType="default" (click)="handleCancel()">Cancel</button>
  <button
    nz-button
    nzType="primary"
    (click)="handleOk()"
    [nzLoading]="isLoading"
  >
    Connect
  </button>
</ng-template>

<app-module-view [modules]="modulesMatchSearchInput"></app-module-view>
