<button nz-button nzShape="circle" nzType="link" nzSize="large" (click)="isDeleteModalVisible = true">
  <i nz-icon nzType="delete" nzTheme="twotone"></i>
</button>

<nz-modal
  [(nzVisible)]="isDeleteModalVisible"
  nzTitle="Confirm delete"
  [nzFooter]="modalFooter"
  (nzOnCancel)="handleDeleteModalCancel()"
>
  <div style="text-align: center" *ngIf="isSuccess">
    <img src="../../../assets/checkanimation.gif" style="height: 150px;">
  </div>
  <div *ngIf="!isSuccess">
    <h4>Are you sure to remove module {{ name }}</h4>
  </div>
</nz-modal>

<ng-template #modalFooter>
  <button nz-button nzType="default" (click)="handleDeleteModalCancel()">Cancel</button>
  <button
    nz-button
    nzType="danger"
    (click)="handleDeleteModalOk()"
    [nzLoading]="isLoading"
  >
    Remove
  </button>
</ng-template>
