<div id="light">
    <button mat-raised-button id="lightButton" *ngIf="isLight == false">
        Light
        <div>
            <mat-icon id="lightIcon">emoji_objects</mat-icon>
        </div>
        OFF
    </button>
    <button mat-raised-button id="lightButton" color="primary" *ngIf="isLight == true">
        Light
        <div>
            <mat-icon id="lightIcon">emoji_objects</mat-icon>
        </div>
        ON
    </button>
</div>
<!-- <mat-divider style="margin-top: 30px; margin-left: -54px; height: 5px; color: white;">sdjsdabkjbvsb</mat-divider>
<div id="alarms">
    <mat-card id="fireCard">
        <p style="margin-left: 20px; margin-bottom: 2px;">Fire</p>
        <div>
            <mat-icon id="fireIcon">fireplace</mat-icon>
        </div>
        <p style="margin-left: 20px; margin-top: 3px;">OFF</p>

    </mat-card>

    <mat-card id="smokeCard">
        <p style="margin-left: 10px; margin-bottom: 2px;">Smoke</p>
        <div>
            <mat-icon id="smokeIcon">waves
            </mat-icon>
        </div>
        <p style="margin-left: 20px; margin-top: 3px;">OFF</p>

    </mat-card>

</div> -->