#lightIcon {
    font-size: 75px;
}

#lightButton {
    width: 100px;
    height: 150px;
    // margin: 150px 100px 0 0;
}

#lightButton div {
    padding-right: 50px;
    height: 75px;
    margin-left: -3px;
}

#light {
    margin-left: -50px;
    display: inline-block;
    margin: 150px 60px 0px -80px;

}

#fireIcon {
    font-size: 75px;
}

#fireCard div {
    padding-right: 50px;
    height: 75px;
    margin-left: -3px;
}

#fireCard {
    float: left;
    background-color: grey;
    margin-left: -50px;
}

#smokeIcon {
    font-size: 75px;
}

#smokeCard div {
    padding-right: 50px;
    height: 75px;
    margin-left: -3px;
}

#smokeCard {
    float: right;
    background-color: grey;
    margin-left: 50px;
}

#alarms {
    margin-top: 30px;
}