#charts {
    float: left;
}

#button {
    margin-left: 100px;
    float: right;
}

#closeDial {
    float: right;
}

#dialogName {
    font-size: 30px;
}

#temp_hum_number {
    float: left;
}

#controler {
    margin-left: 30px;
    background-color: gray;
}